@mixin cell-navbar-distance() {
    margin-left: 2rem;
    margin-right: 2rem;
}

@mixin cell-info-container() {
    grid-area: info;
    display: block;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
    background: white;
}

@mixin cell-project-template {
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px #A9A9A9 solid;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    background: white;
}

@mixin cell-individual-card1() {
    background-color: transparent;
    margin: 2rem 3rem;
    width: 80%;
    height: 40%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

@mixin cell-individual-card2() {
    background-color: transparent;
    margin: 2rem 3rem;
    width: 80%;
    height: 40%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}


@mixin project-template() {
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
    border: 1px #A9A9A9 solid;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
    background: white;
}

@mixin cell-project-title() {
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 18px;
    margin: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
}

@mixin project-title() {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    margin: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

@mixin individual-card1() {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
    margin: 0 3rem;
    width: 80%;
    height: 80%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

@mixin individual-card2() {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: -1;
    background-color: transparent;
    margin: 0 3rem;
    width: 80%;
    height: 80%;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

@mixin inner-card() {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

@mixin front-back-transition() {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

@mixin card-front() {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin card-front-img() {
    width: 100%;
    height: 80%;
    background-position: cover no-repeat;

}

@mixin card-front-paragraph() {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1px;
}

@mixin card-back() {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    display: flex;
}

@mixin cell-back-paragraph() {
    text-align: center;
    padding: 0 1rem;
    margin: 1rem;
    font-size: 14px;
}

@mixin card-back-paragraph() {
    text-align: center;
    padding: 0 1rem;
    margin: 3rem;
}